/SPPublish.xcodeproj/project.xcworkspace/xcuserdata/David.xcuserdatad/UserInterfaceState.xcuserstate
/SponsorPaySample.xcodeproj/project.xcworkspace/xcuserdata/David.xcuserdatad/UserInterfaceState.xcuserstate
build
SponsorPaySample.xcodeproj/project.xcworkspace
SponsorPaySample.xcodeproj/xcuserdata
SponsorPaySample.xcodeproj/*.mode1v3
SponsorPaySample.xcodeproj/*.pbxuser

/.irb-history
screenshots/*.png
